<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="styles.css">
    <title>Add Another Color</title>
</head>
<body>
    <h2 >Add Another Color</h2>
	<form method="GET" action="/insert">
    <table>
        <tr>
			<td>
				<label class="color_text" for="color_name"> Name:</label>
			</td>
			<td>
				<input type="text" id="color_name" name="color_name" value="Brown">
			</td>
		</tr>
		<tr>
			<td>
				<label class="color_text" for="color_color">Color:</label>
			</td>
			<td>
				<input type="color" id="color_color" name="color_color" value="#ff0000">
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<input type="submit" value="Add">
			</td>
		</tr>
    </table>
	<form>
    <br /><br />
</body>
</html>